body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* HEADER / header-top */

header {
	height: 750px;
	background: url("../img/header/header-bg.jpg");
	background-color: #31354f;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	border-bottom: 1px solid #4f5168;
}

ul.menu {
	display: flex;
	justify-content: space-between;
	width: 590px;
}

.menu li {
	list-style: none;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	opacity: 0.75;
	transition: opacity 0.2s;
}

.menu a:hover {
	opacity: 1;
}

/* HEADER / header-intro */

.header-intro {
	text-align: center;
}

.header-intro h1 {
	width: 870px;
	margin: 0 auto;
	margin-top: 145px;
	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.header-intro p {
	font-size: 22px;
	line-height: 1.5;
	width: 920px;
	margin: 0 auto;
	margin-top: 20px;
}

.intro-button {
	display: block;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 75px;
	width: 200px;
 	color: #fdf3f3;
 	font-size: 13px;
 	font-family: "Raleway SemiBold", sans-serif;
 	font-weight: 400;
 	text-transform: uppercase;
 	text-decoration: none;
 	background-color: #e84545;
 	border-radius: 2px;
 	transition: background 0.2s;
}

.intro-button:hover {
	background-color: #b53232;
}