body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* HEADER / header-top */

header {
	height: 750px;
	background: url("../img/header/header-bg.jpg");
	background-color: #31354f;
	background-size: cover;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	border-bottom: 1px solid #4f5168;
}

ul.menu {
	display: flex;
	justify-content: space-between;
	width: 590px;
}

.menu li {
	list-style: none;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	opacity: 0.75;
	transition: opacity 0.2s;
}

.menu a:hover {
	opacity: 1;
}

/* HEADER / header-intro */

.header_intro {
	text-align: center;
}

.header_intro h1 {
	width: 870px;
	margin: 0 auto;
	margin-top: 145px;
	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.header_intro p {
	font-size: 22px;
	line-height: 1.5;
	width: 920px;
	margin: 0 auto;
	margin-top: 20px;
}

.red_button {
	display: block;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 75px;
	width: 200px;
 	color: #fdf3f3;
 	font-size: 13px;
 	font-family: "Raleway SemiBold", sans-serif;
 	font-weight: 400;
 	text-transform: uppercase;
 	text-decoration: none;
 	background-color: #e84545;
 	border-radius: 2px;
 	transition: background 0.2s;
}

.red_button:hover {
	background-color: #b53232;
}

/* FEATURES */

section.features {
	padding-top: 120px;
	padding-bottom: 45px;
}

.features_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
	margin: 0 auto;
}

.features_item {
	width: 300px;
	text-align: center;
}

.features_icon {
	background: url(../img/features/features_sprites.png) no-repeat;
	display: inline-block;
	width: 80px;
	height: 60px;
}

.features_title {
	margin: 0;
	margin-top: 29px;
	margin-bottom: 18px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.features_text {
	color: #6c7279;
	line-height: 1.5;
	margin-bottom: 76px;
}

/* FEATURES  / icons*/

.icon_customised {
	background-position: -20px -20px;
	width: 60px;
}

.icon_redy {
	background-position: -20px -120px;
	width: 73px;
}

.icon_design {
	background-position: -20px -220px;
	width: 41px;
}

.icon_code {
	background-position: -20px -320px;
	width: 56px;
}

.icon_ship {
	background-position: -20px -420px;
	width: 72px
}

.icon_download {
	background-position: -20px -520px;
	width: 79px;
}

/*SECTION WORKS*/

section.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.works_item {
	max-width: 550px;
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
	transition: 0.4s;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}

.works_item:hover .works_content {
	opacity: 1;
}

.works_item img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate3d(-50%, -50%, 0);
}

.works_content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(232, 69, 69, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;

}

.works_title {
	margin: 0;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

/*SECTION TEAM*/

section.team {
	padding-top: 100px;
	padding-bottom: 50px;
}

.team_list {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    box-sizing: border-box;
}

.team_item {
	width: 25%;
    padding: 0 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.team_item img {
	width: 100%;
}

.team_name {
	font-size: 22px;
	font-weight: 400;
	color: #2d3033;
	margin-top: 25px;
	margin-bottom: 8px;
}

.team_prof {
	font-size: 13px;
	font-weight: 400;
	color: #e84545;
	text-transform: uppercase;
}

.team_text {
	color: #6c7279;
	margin: 25px 0 25px 0;
	line-height: 1.5;
}

/* SECTION TEAM / social_links */

.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url(../img/team/css_sprites.png) no-repeat;
	background-color: #fff;
	border: 1px solid #e8ecee;
	transition: background-color 0.3s;
}

.social-btn:hover {
	background-color: #e8ecee;
}

.fb {
	background-position: 5px 0px;
}

.tw {
	background-position: -64px 2px;
}

.in {
	background-position: -27px 0px;
}

/*SECTION CLIENTS*/

section.clients {
	background-color: #53354a;
	overflow: hidden;
}

.clients_item {
	display: flex;
}

.clients_photo {
	width: 50%;
	height: 500px;
	position: relative;
}

.clients_photo img {
	position: absolute;
	top: 0;
	right: 0;
}

.clients_content {
	width: 50%;
	margin-left: 83px;
	color: #fff;
}

.clients_text {
	font-family: "Cardo", sans-serif;
	font-style: italic;
	font-size: 36px;
	line-height: 1.2;
	margin: 110px 70px 29px 0px;
}

.clients_author {
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}

/*SECTION DOWNLOAD*/

section.download {
	color: #2d3033;
	text-align: center;
	padding-top: 95px;
	padding-bottom: 100px;
}

.download_title {
	margin: 0;
	font-weight: 300;
	font-family: "Raleway", sans-serif;
	font-size: 28px;
}

.download_text {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 38px;
}

.download .red_button {
	margin: 0 auto;
	width: 280px;
}

/*FOOTER*/

footer {
	background-color: #3a3e64;
}

.footer_inner {
	display: flex;
	padding-top: 67px;
	padding-bottom: 87px;
}

.footer_block {
	width: 33.33333%;
	text-align: center;
	padding: 0 15px;
}

.footer_title {
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
}

.footer_text {
	line-height: 1.6;
	color: #adaebb;
	margin-top: 16px;
}

address {
	font-style: normal;
}

/*FOOTER / links*/

.footer_links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.footer_links li {
	list-style: none;
	margin-right: 7px;

}

.footer_links li:last-child {
	margin-right: 0px;
}

.footer_links a {
	background-color: #3a3e64;
	border: 2px solid #fff;
	width: 36px;
}

.footer_links a:hover {
	background-color: #2f324e;
}

/*FOOTER / copyright*/

.copyright {
	background-color: #313454;
	color: #808080;
	text-align: center;
	padding: 25px 0;
}

.copyright p {
	width: 100%;
	max-width: 390px;
	margin: 0 auto;
	line-height: 1.6;
}

.copyright a {
	color: #fff;
	text-decoration: none;
}

.white_text {
	color: #ffffff;
}

/***************************************/
/***************************************/
/***************************************/

/*MEDIA QUERIES*/

@media (max-width: 1600px) {

	/*WORKS*/

	.works_item {
		width: 33.33333%;
	}
}

@media (max-width: 1280px) {

	/*WORKS*/

	.works_item {
		width: 50%;
	}
}

@media (max-width: 990px) {

	/*HEADER*/

	nav {
		display: none;
	}

	.header_intro h1 {
		font-size: 40px;
	}

	/*FEATURES*/

	.features_item {
		width: 50%;
		padding: 0 20px;
	}

	/*CLIENTS*/

	.clients_item {
		flex-direction: column;
		margin-top: 15px;
	}

	.clients_photo,
	.clients_content {
		width: 100%;
		overflow: hidden;
		margin: 0;
	}

	.clients_text,
	.clients_author {
		margin: 30px 0 30px 0;
	}
}

@media (max-width: 850px) {

	/*WORKS*/

	.works_item {
		width: 100%;
	}

	/*TEAM*/

	.team_item {
		width: 50%;

	}
}

@media (max-width: 566px) {

	/*HEADER*/

	header {
		padding-bottom: 50px;
	}

	.header_intro h1 {
		font-size: 22px;
		margin-top: 45px;
	}

	.header_intro p {
		font-size: 14px;
	}

	/*FEATURES*/

	section.features {
		padding: 40px 0 0 0;
	}

	.features_item {
		width: 100%;
	}

	.features_text {
		margin-bottom: 40px;
	}

	/*TEAM*/

	section.team {
		padding: 50px 0;
	}

	.team_list {
		justify-content: center;
	}

	.team_item {
		width: 100%;
		max-width: 400px;
	}

	/*CLIENTS*/

	.clients_text {
		font-size: 26px;
	}

	.clients_photo {
		height: 300px;
		text-align: center;
	}

	.clients_photo img {
		max-height: 300px;
	}

	/*FOOTER*/

	.footer_inner {
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 0px;
	}

	.footer_block {
		width: 100%;
		margin-bottom: 30px;
		padding: 0;
	}
}
